body {
    background-image: url(../img/food_doodle.png);    
    background-attachment: fixed;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    border-radius: 25%;
    border: 2px  rgb(146, 99, 255) solid;
    font-size: 18px;

}

.data { 
    position: absolute;
    left: 90%;
}

.login {
    text-decoration: rgb(146, 99, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: rgb(146, 99, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    text-align: center;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    height: 70px;
    width: 70px;
    transition: 500ms;
}

.logo:hover {
    height: 80px;
    width: 80px;
    color: rgb(71, 71, 71);
    transform: rotateY(180deg);
}

.top-items {
    width: 100;
    text-align: center;
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

.items-table {
    text-align: center;
    width: 30%;
}

.food-name {
    text-align: start;
    margin-left: 10px;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.text-right {
    text-align: end;
    float: right;
    margin-right: 10px;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.text-left {
    text-align: start;
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-center {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cart {
    float: right;
    width: 50px;
    margin-top: -8%;
    margin-right: 10px;
    transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.cart:hover {
    width: 60px;
}

.order-item {
    width: 300px;
    height: 200px;
    box-shadow: 2px rgba(0, 0, 0, 0.397);
}

.food-img {
    border-radius: 10%;
    transition: 1000ms;
}

.food-img:hover {
    width: 302px;
}
.hungry{
    margin-top: 5%;
}

nav {
    margin-top: 0%;
    z-index: 1;
}

nav ul {
    list-style: none;
    z-index: 1;
}

ul li{
    width: 200px;
    height: 40px;
    list-style: none;
    float: left;
    background-color: rgba(53, 53, 53, 0.466);  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 10px;
    margin-right: 5px;
}

ul li:hover{
    background-color: rgb(236, 236, 236, 0.9);
    color: rgba(53, 53, 53);  
}

.to-left {
    float: left;
    margin: 1%;
}

.to-right {
    float: right;
}

.order-container {
    text-align: center;
    width: 100%;
}

.home-container {
    text-align: center;
    width: 100%;
}

.order-item {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
}

.home-item {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 300px;
}

.order-content {
    display: flex;
    width: 100%;
    height: 650px;
    z-index: -1;
}

.home-content {
    display: flex;
    width: 100%;
    height: 650px;
    z-index: -1;
}

.order-history {
    flex: 0.7;
    flex-direction: column;
    float: left;
    padding: 10px;
    font-family: cursive;
    color: rgba(43, 43, 43, 0.788);
    font-size: 14px;
    overflow: auto;
}

.comments {
    flex: 0.7;
    flex-direction: column;
    float: left;
    padding: 10px;
    font-family: cursive;
    color: rgba(43, 43, 43, 0.788);
    font-size: 14px;
    overflow: auto;
}

.ordered-item {
    flex: 2;
    flex-direction: column;
    float: right;
    overflow: auto;
}

.all-items {
    flex: 2;
    flex-direction: column;
    float: right;
    overflow: auto;
}

.history-img {
    width: 100px;
    height: 70px;
    border-radius: 10%;
     float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.user {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.history-details {
    font-size: 0.9em;
    margin-top: 5px;
}

.custom-input{
    border-radius: 10px;
    width: 80%;
    height: 30px;
}

.custom-input-button{
    border-radius: 10px;
    width: 70%;
    height: 30px;
    background-color: rgba(53, 143, 1, 0.7);  
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
}

.custom-input-button:hover {
    border-radius: 10px;
    width: 70%;
    height: 30px;
    background-color: rgba(243, 198, 0, 0.7);  
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px; 
    font-weight:100;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
}

.user-name {
    float: right;
    position: relative;
    left: 20%;
    margin-bottom: 20%;
    margin-top: -10%;
}

.delete {
    float: right;
    width: 40px;
    height: 40px;
    padding: 2px;
    float: right;
    text-align: center;
}

.edit {
    text-align: start;
    width: 40px;
    height: 40px;
    padding: 2px;
    float: left;
    text-align: center;
}

.delete:hover {
    height: 45px;
}
.edit:hover {
    height: 45px;
}
.My-Items {
    padding: 10px;
}
.My-Items h2 {
    padding-left: 30px;
}
.new-item img{
    width: 350px;
    height: 200px;
    border-radius: 10%;
}
.admin-custom-input{
    border-radius: 10px;
    width: 80%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.795);
    border: 2px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: rgb(32, 32, 32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}

.okay {    
    width: 200px;
    height: 40px;
    list-style: none;
    float: left;
    background-color: rgba(53, 143, 1, 0.7);  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    float: right;
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 10px;
    margin-right: 5px;
}

.admin-custom-textarea{
    border-radius: 10px;
    width: 90%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.795);
    border: 2px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    color: rgb(32, 32, 32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}
.admin-okay {    
    width: 150px;
    height: 40px;
    list-style: none;
    float: left;
    background-color: rgba(53, 143, 1, 0.7);  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 10px;
    margin-right: 5px;
}

.cancel {    
    width: 200px;    
    height: 40px;
    list-style: none;
    float: left;
    background-color: rgba(255, 5, 5, 0.7);  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 10px;
    margin-right: 5px;
}

.admin-cancel {    
    width: 150px;
    height: 40px;
    list-style: none;
    float: left;
    background-color: rgba(255, 5, 5, 0.7);  
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 10px;
    margin-right: 5px;
}

.okay:hover {
      background-color: #fff;
    color:  rgba(53, 143, 1);
}
.admin-okay:hover {
    background-color: #fff;
    color:  rgba(53, 143, 1);
}

.cancel:hover {
    background-color: #fff;
    color:  rgba(255, 5, 5);
}
.running-txt {
    color: red;
    transition: 1500ms cubic-bezier(1, 0, 0, 1);
}
.complete-txt {
    color: green;
    transition: 1500ms cubic-bezier(1, 0, 0, 1);
}

.full-order-details img{
    border-radius: 10%;
    height: 200px;    
    width: 300px;    
}
.ordered-more-details {
    padding: 10px;
}
.ordered-more-details h4 {
    text-align: left;
    font-size: 20px;
}
.ordered-more-details h3 {
    float: right;
    font-size: 20px;
}
.ordered-more-details h5 {
    text-align: left;
    font-size: 15px;
}
.related-orders {
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
}
.related-orders-td {
    margin-right: 5%;
    margin-left: 5%;
}

.related-container {
    text-align: center;
    width: 100%;
}

.login-container {
    text-align: center;
}

.login-element {
    width: 30%;
    height: 600px;
    margin-top: 2%;
    margin-left: 30%;
    background-color: rgba(253, 253, 253, 0.3);
    border-radius: 10%;
}

.login-img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.login-img:hover {
    width: 55px;
    height: 55px;
}
.top-margin{
    margin-top: 10px;
}
.social {
    text-align: center;
}
.profile img{
    border-radius: 10%;
    height: 200px;    
    width: 200px;    
}
.profile-details {
    width: 50%;
}
.profile-badges {
    width: 50%;
    float: right;
    margin-top: -1pc;
}
.profile-badges img{
    width: 150px;
    height: 50px;
}
.profile-badges td{
    width: 30pc;
    text-align: center;
}
.profile-badges tr{
    margin-top: -1%;
}

.admin-cancel:hover {
    background-color: #fff;
    color:  rgba(255, 5, 5);
}
/*Admin Orders*/
	
.admin-order-content {
    display: flex;
    width: 100%;
    height: 650px;
}

.admin-order-history {
    flex: 1;
    flex-direction: column;
    float: left;
    padding: 10px;
    font-family: cursive;
    color: rgba(43, 43, 43, 0.788);
    font-size: 14px;
    overflow: auto;
}

.admin-order-history table{
    width: 100%;
}


.ordered-item {
    flex: 2;
    flex-direction: column;
    float: right;
    overflow: auto;
}
.admin-history-img {
    width: 100px;
    height: 70px;
    border-radius: 10%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
}
.admin-history-details {
    font-size: 0.9em;
    margin-top: 5px;
}
.admin-history-details p {
    font-size: 0.8em;
}

.action-okay {    
    width: 100px;
    height: 30px;
    list-style: none;
    float: left;
    background-color: rgba(53, 143, 1, 0.7);  
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 5px;
    margin-right: 5px;
}
.action-cancel {    
    width: 100px;
    height: 30px;
    list-style: none;
    float: left;
    background-color: rgba(255, 5, 5, 0.7);  
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px; 
    font-weight:100;
    color: rgb(236, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px #fff solid;
    border-radius: 5px;
    margin-right: 5px;
}
.action-okay:hover {
    background-color: #fff;
    color:  rgba(53, 143, 1);
}

.action-cancel:hover {
    background-color: #fff;
    color:  rgba(255, 5, 5);
}

.admin-profile-content {
    display: flex;
    width: 100%;
}

.performance-profile {
    flex: 0.9;
}

.graph-profile {
    flex: 1.6;
    text-align: center;
}

.admin-profile {
    flex: 0.5;
}
.admin-profile img{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}
.summary-item {
    width: 150px;
    height: auto;
    text-align: center;
    color: cornsilk;
    background-color: rgba(116, 116, 116, 0.459);
    border-radius: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    margin-right: 4%;
}

.summary-item h4 {
    margin-top: -10px;
}

.graph {
    width: 90%;
    height: 300px;
    margin-top: 1%;
    background-image: url(../img/area_graph.png); 
    background-repeat: no-repeat;
    background-size: auto;
}
.buyer-complaints {
    float: right;
    margin-right: 10pc;
    font-size: 14px;
}
.buyer-feedback {
    float: left;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}